:root{
    --verde-escuro: #2f9364;
    --verde: #60F47B ;
    --degrade-btn: linear-gradient(#009E5A, #60F47B);
    --color-p: #a1a1a1;
    --color-p-2: #868585; 
    --color-grad: linear-gradient(321deg, rgb(19, 19, 21) 0%,
    rgba(19, 19, 21, 0.795) 20%, rgba(41, 41, 45, 1) 30%, 
    rgb(19, 19, 21) 43%, rgb(19, 19, 21) 86%, rgb(41, 41, 45) 100%), radial-gradient(rgba(0, 255, 128, 0.171)   1px, transparent 1px);
 }
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.logo-name{
    filter: drop-shadow(0 0 10px #60F47B);
}
body{
    font-family: "Poppins", serif; 
}
.estrela {
    fill: white; /* Cor Verde Neon */
    stroke: #009E5A; /* Contorno mais escuro */
    stroke-width: 5;
    filter: drop-shadow(0 0 10px #60F47B);
}
section{
    padding: 2.7rem 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 15px 0;
    background: rgba(19, 19, 21, 0.973);
}
 
.logo img{
    width: 50px;
}

.background-verde{
   background: var(--color-grad); 
}
.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}
main {
    /* background-image: url('../img/main.png'); */
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    min-height: 50vh;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
    
}
.container .logo{
    display: flex;
    align-items: center;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: var(--verde);
    
}
.text-green{
color: var(--verde);
}
.menu{
    display: flex;
    align-items: center;
}
.menu li{
    margin: 0 35px;
    font-size: 15px;
}

.menu li a{
    color: white;
}

.btn-gradient{
    padding: 10px 25px ;
    border: none;
    cursor: pointer;
    color: white;
    background-image:  var(--degrade-btn);
}
.backg-main-inverted {
    background: var(--color-grad);
    background-size: 100%, 32px 32px;
    background-position: 0 0, 0 0;
    background-repeat: no-repeat, repeat;
    background-blend-mode: overlay;
}
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 115px;
    padding: 10px;
}


 
.select-text,
.main-text{
    width: 80%;
    color: white;
    font-weight: 500;
    margin-top: 30px;
    transition: 0.3ms;
}


.main-text div{
    display: flex;
    align-items: center;
    
}

.main-text h1{
    font-size: 2.7rem;
}
.main-text h2{
    font-size: 1.7rem;
}
 
.main-img{
    width: 50%;
}
.main-img img{
    width: 100%;
}
.menu-icon{
    display: none;
    position: relative;
    z-index: 10;
}

.resultados{
    background: #60F47B;
}

.resultados .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub-title{
    color: var(--verde);
    font-weight: bold;
    font-size: 2.0rem;
    margin: 0 auto;
}
.container .sub-title h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.resultados .resultado-text{
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.resultados .resultado-numero{
    color: white;
     display: flex;
    align-items: center;
    justify-content: space-between;
}
.resultados .resultado-numero p{
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}
.seguimentos .container .select-text{
    color: black;
    padding: 10px;
}
.select-text div{
    text-align: center;
}
.select-text h1{
    font-size: 2.2rem;
}
.select-text h3{
    font-size: 1.2rem;
}
.select-text h2{
    font-size: 1.4rem;
}
.background-celebro{
    background-image: url('../img/celebro.png');
}

.resultados .resultado-numero span{
    font-weight: 500;
    font-size: 30px;
}

.saiba-mais{
    text-decoration: none;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    margin: 0 auto
}
.card img{
    margin: 0 auto;
}
.diferencias .container{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.diferencias .card {
    width: 30%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
    color: white;
    text-align: center;
}
.diferencias .card:hover{
    box-shadow: 0px 10px 67px 8px var(--verde);
}
.diferencias .card img{
    width: 60px;
}
.diferencias .card .titulo{
    margin: 13px 0;
    font-weight: 600;
}
.seguimentos .container{
    display: flex;
    align-items: center;
}
.seguimentos .container .img{
    width: 50%;
}
.seguimentos .container .seguimento-text{
    width: 50%;
    padding-left: 60px;
}

.seguimento-text h2{
    font-size: 2.5rem;
}
.seguimento-text p{
   margin: 20px 0;
   color: var(--color-p);
}
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-decoration: none;
}

.load-up{
    opacity: 0;
    transform: translateY(230px);
    transition: opacity 1.7s ease-out, transform 1.7s ease-out;
}

.load-down{
    opacity: 0;
    transform: translateY(-230px);
    transition: opacity 2.7s ease-out, transform 2.7s ease-out;
}

/* Quando a classe "show" é adicionada, a animação ocorre */
.load-up.show, .load-down.show{
    opacity: 1;
    transition: 1.7s;
    transform: translateY(0);
}

.load-to-left{
    opacity: 0;
    transform: translateX(230px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.load-to-right {
    opacity: 0;
    transform: translateX(-230px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.load-to-right.show,
.load-to-left.show{
    opacity: 1;
    transition: 1.7s;
    transform: translateX(0);
}

 

@media (max-width: 966px){
    .menu-icon{
        display: block;
    }
    .menu{
        position: fixed;
        background: var(--verde-escuro);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.5s;
        flex-direction: column;
        justify-content: center;

    }
    .menu li{
        font-size: 23px;
        margin: 20px;
    }

    .menu.ativo{
      left: 0%;
    }

    main .container{
        flex-direction: column;
    }
    main .container .main-img,
    .seguimentos .container .select-text,
    main .container .main-text{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    main .container .main-text div{
        justify-content: center;
    }
    main .container .main-text h1{
        font-size: 4rem;
    }
    .resultados .container{
        flex-direction: column;
    }
    .resultados .resultado-text,
    .resultados .resultado-numero{
        width: 100%;
        text-align: center;
    }
    .resultados .resultado-numero{
        margin-top: 30px;
    }
    .diferencias .container{
        flex-direction: column;
    }
    .diferencias .card{
        width: 100%;
    }
    .seguimentos .container{
        flex-direction: column-reverse;
    }
    .seguimentos .no-reverse{
        flex-direction: column
    }
    seguimentos .container .img,
    .seguimentos .container .seguimento-text{
        width: 100%;
    }
}

@media (max-width: 450px){
    .resultado-numero{
        flex-direction: column;
    }

}